In [2]:
from google.colab import files
uploaded = files.upload()

Saving House Price Prediction Dataset.csv to House Price Prediction Dataset.csv

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('House Price Prediction Dataset.csv')
print(df.columns)

Index(['Id', 'Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt',
       'Location', 'Condition', 'Garage', 'Price'],
      dtype='object')

In [4]:
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [5]:
df.tail()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
1995,1996,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,No,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,No,482525

In [6]:
df.shape

(2000, 10)

In [7]:
df.size

20000

In [8]:
df.columns = df.columns.str.strip()

In [9]:
x = df.drop('Id', axis=1)
y = df['Id']
print(x.columns)

Index(['Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt', 'Location',
       'Condition', 'Garage', 'Price'],
      dtype='object')

In [10]:
df['Condition'].unique()

array(['Excellent', 'Good', 'Fair', 'Poor'], dtype=object)

In [11]:
df['Location'].unique()

array(['Downtown', 'Suburban', 'Urban', 'Rural'], dtype=object)

In [12]:
df = df.drop(columns=['Id'])

In [13]:
# feature and target separation

x = df.drop(columns=['Price'])
y = df['Price']

# x contains all input features
# y contains the target variable or what we want to predict

In [14]:
# train test split

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
    )

In [15]:
x_train.shape

(1600, 8)

In [16]:
x_test.shape

(400, 8)

In [17]:
x_train.dtypes

Area          int64
Bedrooms      int64
Bathrooms     int64
Floors        int64
YearBuilt     int64
Location     object
Condition    object
Garage       object
dtype: object

In [ ]:
# liner models and reguralization are sensitive to feature
# Scalar so before regression we encode categoricals
# and scale numericals

In [18]:
categorical_cols = ['Location','Condition','Garage']

numerical_cols = x_train.drop(columns=categorical_cols).columns

In [19]:
categorical_cols, numerical_cols

(['Location', 'Condition', 'Garage'],
 Index(['Area', 'Bedrooms', 'Bathrooms', 'Floors', 'YearBuilt'], dtype='object'))

In [20]:
# we will use oneHotEncoder cuz regression needs numbers
# it increases features = set up regularization need

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

# columntransformer is to apply different preprocessing step to
# different columns in one go because
# numerical cols need scaling , categorical cols need encoding,
# so we should not treat all columns the same

In [21]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(drop='first'), categorical_cols)
    ]
)

# transformers =[]
# this is list of rules
# each rule follows this feather_format(name,transformer,columns)

In [22]:
x_train_processed = preprocessor.fit_transform(x_train)
x_test_processed = preprocessor.transform(x_test)